<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      throwExceptions="false"
      internalLogFile="${basedir}/LogFiles/Nlog/nlog.log"
      >
  <variable name="c_output_file" value="${basedir}/LogFiles/Nlog/${date:format=yyyyMM}_${level}.txt" />
  <variable name="c_archive_output_file" value="${basedir}/LogFiles/Nlog/${date:format=yyyyMM}_${level}.{#####}.txt" />
  <variable name="c_msg_layout" value="${date:format=HH\:mm\:ss.fff} [${level}] - ${message} ${exception:format=ToString}" />
  <targets>
    <target xsi:type="File"
            name="general_file_log"
            encoding="utf-8"
            fileName="${c_output_file}"
            archiveAboveSize="10240"
            archiveNumbering="Sequence"
            archiveFileName="${c_archive_output_file}"
            layout="${c_msg_layout}" />
  </targets>
  <rules>
    <logger name="*" level="Debug" writeTo="general_file_log" />
    <logger name="*" level="Info" writeTo="general_file_log" />
    <logger name="*" level="Error" writeTo="general_file_log" />
    <logger name="*" level="Fatal" writeTo="general_file_log" />
  </rules>
</nlog>